DB_NAME='nome_do_banco'
DB_USER='nome_do_usuario'
DB_PASSWORD='senha_do_banco'
DB_HOST='host_do_banco'
DB_PORT='porta_do_banco'
DB_DRIVER='banco_utilizado'
DB_URL="${DB_DRIVER}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"